html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  padding: 3vh;
  background-color: #00ff1fa1;
}

.login-label strong {
  color: #ffffff;
}