html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.login-box {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}